<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About This Data Set</a></li>
            <li class="active"><a href="/quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: </h1>
        <p>About This Data Set</a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>No, the data is not complete.</p>
	<p>There are a few problems impacting the data's completeness.</p>
	<ul style="list-style-type:circle">
	    <li>First and most simply, twice my phone's battery depleted and the phone turned off, 
	    which means data is missing from those times.</li>
	    <li>Because the AWARE framework takes up a lot of storage space, and I'm not sure if my backup
	    sync was always working properly, sometimes the data took up so much space that my phone stopped storing
	    new data (not only for AWARE, but also for other apps). This may have lead to some missing data.</li>
	    <li>When the storage was maxed out, I tried to sync the existing data and then delete the backup on the
	    phone itself. I do not know if that may have deleted some data that was not backed up.</li>
	    <li>The data from some sensors and plugins that were turned on (like Google Fused Locations) 
	    never showed up in the database.</li>
    </ul>
    </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>The first thing that did not seem internally coherent was times -- they were off by a few hours from 
	what would seem like logical times that I'd be using my phone. I realized that the times were stored in 
	GMT by default and needed to be converted to EST, which then made more sense.</p>
	<p>Other than that the data seems to be coherent.</p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>I am mostly only able to verify the data through my own recollections and general behavior patterns.
	The data seems to be showing phone use and charing around times that would make sense.</p>
	<p>A few times during the data collection when I checked the database I would spot check the most recent
	entry in a certain table. Aside from the missing data issues, those times and sensed data seemed
	general correct against what had happened just before the sync.</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
